@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    font: 200 15px Poppins, sans-serif;
    background-color:hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}
header{
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
}
header > h2{
    margin:0;
    font-weight: 200;
    font-size:30px;
}
header > h1{
    margin: 0;
}
header p{
    font-weight: 400;
    font-size: 14px;
}
.content{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    width: 320px;
    padding: 30px;
}
.card h3{
    margin: 0 auto;
}
.card p{
    margin: 15px 0 30px;
    font-size: 13px;

}
.super{
    border-top: 5px solid  hsl(180, 62%, 55%);

}
.calc{
    border-top: 5px solid hsl(212, 86%, 64%)
}
.karma{
   border-top: 5px solid hsl(34, 97%, 64%);
}
.builder{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.card-lower{
    transform: translateY(50%);
}

.card img{
    display: block;
    margin-left: auto;
}

@media (max-width: 1024px){
    .card-lower{
        transform: translateY(0);
    }
}

@media (max-width: 760px){
    header{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 10px;
    }
    header p{
        font-size: 12px;
    }
    header h2{
        font-size: 20px;
    }
}