@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1440px;
    font: 200 15px Poppins, sans-serif;
    background-color:hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}
header{
    margin: 50px auto;
    width: 100%;    
    max-width: 500px;
    text-align: center;
}
header > h2{
    font-weight: 200;
    font-size:30px;
}
header p{
    width: 100%;
    font-weight: 400;
}
.content{
    display: flex;
    margin: auto 150px;
}
.items{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: block;
    margin: 0 auto;
}
.row{
    display: inline-block;
    padding: 32px;
    margin: auto 0;
}

.items .row .card-super{
    width: 100%;
    max-width: 300px;
    height: 250px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top: 5px solid  hsl(180, 62%, 55%);
    border-radius: 8px;
    padding: 20px;
}
.items .row .card-super img{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.items .column .card-builder{
    width: 100%;
    max-width: 300px;
    height: 250px;
    position: relative;
    border-top: 5px solid hsl(0, 78%, 62%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}
.items .column .card-builder img{
    position: absolute;
    bottom: 20px;
    right: 30px;
} 

.items .row .card-calc{
    width: 100%;
    max-width: 300px;
    height: 250px;
    position: relative;
    border-top: 5px solid hsl(212, 86%, 64%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding:20px;
}
.items .row .card-calc img{
    position: absolute;
    bottom: 20px;
    right:30px;
}
.items .column .card-karma{
    width: 100%;
    max-width: 300px;
    height: 250px;
    margin-top: 40px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top: 5px solid hsl(34, 97%, 64%);
    padding: 20px;
}
.items .column .card-karma img{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

